# 1.	Import the necessary package to
a.	Set the current working directory
b.	Change the working directory

In [78]:
import os
# Get the current working
# directory (CWD)
cwd = os.getcwd()
	
# Print the current working
# directory (CWD)
print("Current working directory:")
print(cwd)

Current working directory:
C:\Users\lenovo\Desktop\DATA2022\PYTHON_imran

# 2.Create the string, int and float variable and delete them all in the next cell

In [2]:
name = 'Zahir'  # STRING
age = 37        # INT
height =6.1     # FLOAT
print(name)
print(age)
print(height)
del name       # Delete String
del age        # Delete INT
del height     # Delete FLOAT

Zahir
37
6.1

# 3.	What’s the result of assigning a value to a ‘keyword’?
a.	Please highlight the error

In [5]:
True = 3      # Assigned Value 3 to the Keyword "TRUE"
print(True)

SyntaxError: cannot assign to True (<ipython-input-5-c76382b9c56a>, line 1)

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [7]:
Z =''' This is my first class in the python. I am startedd to do the assignment after many yesrs.
My phase is slow, I hope i can improve my self in upcoming days
'''
print(Z)

 This is my first class in the python. I am startedd to do the assignment after many yesrs.
My phase is slow, I hope i can improve my self in upcoming days

# 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [14]:
list (range (100,1000,8))  # start :100 , End = 999 , so i should be 1000 (N-1) , Step Size = 8

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

# 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [33]:
for i in range (11):
    print(i)
    if(i==10/2):
        break

0
1
2
3
4
5

# 7.	Write a simple function and call the docstring from outside the function

In [35]:
def funtionz():
    '''This is my first user define funtion'''
    print("Hellooooooooo Universe, I have written by first Funtion")
funtionz()

Hellooooooooo Universe, I have written by first Funtion

# 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
<< Formula to calculate semi-perimeter: s = (a+b+c )/2
<< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>
a.	15
b.	51
c.	17

In [46]:
def calcultionz(a,b,c):
    s = (a+b+c )/2  #Formula to calculate semi-perimeter
    print(s)
calcultionz(15,51,17)

41.5

In [45]:
def calcultionz(a,b,c):
    s=41.5
    area = (s*(s-a) * (s-b) * (s-c)) ** 0.5
    #calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 # Formula to calculate area
    print(area)
calcultionz(15,51,17)

(3.097937745838546e-14+505.93162828587816j)

# 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [57]:
def odd_numz(n):
    return[x for x in range(0,n) if x%2 !=0]
odd_numz(100)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran
b.	Output = [‘m’, ‘r’, ‘n’]

In [61]:
name = 'zahirhussain'
vowels = 'aeiou'

# I dont know further

In [76]:
name = "zahirhussain"
vowels = "aeiou"

for letter in name:
  if letter not in vowels:
    print(letter)

z
h
r
h
s
s
n