# 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [4]:

var1=int(input("Enter the first NO:"))
var2=int(input("Enter the first NO:"))
def addition(var1,var2):
    return (var1+var2)

addition(var1,var2)

Enter the first NO:20
Enter the first NO:60

80

# 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [5]:
int = 10
str = 'Hello'
add = int + str
print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 3 ,Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [7]:
String_var = ("Data science")

print(String_var)
print("s" in String_var)

Data science
True

# 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [12]:
def addz(z):
    z= [1,3,5,7,8,9]
    if(z[0]==z[-1]):
        return(True)
    else:
        return(False)
    
addz(z)

NameError: name 'z' is not defined

# 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [14]:
L1 = [10 , 20, 33 , 46 , 55]
for i in L1:
    if i % 5 == 0:
        print(i)

10
20
55

# 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
a.	Hint: Separate return values with a comma

In [19]:
def calculation(var1,var2):
    x = var1 +var2
    y = var1 - var2
    return x,y

calculation(30,10)

(40, 20)

# 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

In [20]:
for i in range(11):
    z=0
    t=z+i
print(t)

10

In [ ]:
def recursion(x):
    if x==1:
        return x
    else:
        return (x * recursion(x-1))

In [21]:
def recursion(x):
    if x==1:
        return x
    else:
        return (x * recursion(x-1))
num =10

print("factorial of" , num ,'is:', recursion(num))

factorial of 10 is: 3628800

# 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [22]:
z = [12,11,53,22,21,77,87,88,98]
for i in z:
    if i % 2 !=0:
        print(i*i)

121
2809
441
5929
7569